@{
    ViewData["Title"] = "Add";
}
@model Product 

<h1>Add Product</h1>
<hr />

<form asp-action="Add" method="POST">
    <div class="mb-3">
        <label for="Name" class="form-label">Name: </label>
        <input type="text" class="form-control" id="Name" asp-for="Name">
    </div>

    <div class="mb-3">
        <label for="Price" class="form-label">Price: </label>
        <input type="number" class="form-control" id="Price" asp-for="Price">
    </div>

    <div class="mb-3">
        <label for="Stock" class="form-label">Stock: </label>
        <input type="number" class="form-control" id="Stock" asp-for="Stock">
    </div>

    <div class="mb-5">
        <label for="Color" class="form-label">Color: </label>
        <input type="text" class="form-control" id="Color" asp-for="Color">
    </div>

    <div class="form-check mb-4">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" asp-for="IsPublish">
        <label class="form-check-label" for="flexCheckDefault">
            Do you want it to be published? 
        </label>
    </div>

    <div class="mb-3">    
        <span>How much time Product will be listed?</span>
        @foreach (var item in ViewBag.Expire as Dictionary<string, int>)
    {
        <div class="form-check">
            <input class="form-check-input" type="radio" asp-for="Expire" value="@item.Value">
            <label class="form-check-label" for="flexRadioDefault1">
                @item.Key
            </label>
        </div>
    }
    </div>


    <button class="btn btn-primary" type="submit">Save Product</button>
</form>
