
@{
    ViewData["Title"] = "Visitor";
}

<h1>Visitor</h1>

<div class="row">
    <div class="col-md-6">
        <vc:visitor type="form"></vc:visitor>
    </div>
    <div class="col-md-6">
        <vc:visitor type="table"></vc:visitor>
    </div>
</div>
