@{
    ViewData["Title"] = "Index";
}

@section Scripts
    {
    <script type="text/javascript">
        $(document).ready(() => {

            let loadComment = () => {
                $("#loading").show();
                $.ajax({
                    type: "GET",
                    url: "VisitorCommentList",
                    success: data => {
                        console.log(data);
                        $("#comments").empty();
                        $.each(data, (index, item) => {
                            var comment = `<div class="card">
                                                <div class="card-body">
                                                    <div class="card-title">${item.name}</div>
                                                    <div class="card-subtitle mb-3 text-muted">${item.date}</div>
                                                    <p class="card-text">${item.comment}</p>
                                                    <button class="btn btn-danger" data-itemid="${item.id}">Delete</button>
                                                </div>
                                            </div>`;
                            $("#comments").prepend(comment);
                        });    
                        $("#loading").hide();
                    },
                    error: err => { console.log(err) },
                })
            };

            loadComment();

            $("#btnSave").click(() => {

                var name = $("#Name").val();
                var comment = $("#Comment").val();

                var JsonData = { "name": name, "comment": comment }

                $.ajax({
                    type: "POST",
                    url: "SaveVisitorComment",
                    data: JsonData,
                    success: data => { console.log(data); loadComment(); $("#Name").val(""); $("#Comment").val(""); },
                    error: err => { console.log(err.message) },
                })
            });

            $(document.body).on('click', `[data-itemid]`, function () {
                var itemId = $(this).data("itemid");
                console.log(itemId)
                $.ajax({
                    type: "POST",
                    url: "Delete",
                    data: { id: itemId },
                    success: data => { console.log(data); loadComment(); /* alert(data) */ },
                    error: err => { console.log(err.message) },
                })
            })
        });

    </script>
}

<h1>Index</h1>

<div class="row">
    <div class="col-5">
        <div class="mb-3">
            <label for="Name" class="form-label">Name</label>
            <input class="form-control" id="Name">
        </div>
        <div class="mb-3">
            <label for="Comment" class="form-label">Comment</label>
            <textarea class="form-control" placeholder="Leave add a comment" id="Comment" style="height: 100px"></textarea>
        </div>
        <button id="btnSave" type="button" class="btn btn-primary">Submit</button>
    </div>
    <div id="loading">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <div class="col-7" id="comments">
        
    </div>
</div>


