
@{
    ViewData["Title"] = "Index";
}

@section Scripts 
{ 
    <script type="text/javascript">
        $(document).ready(() => {

            let loadComment = () => {
                $.ajax({
                    type: "GET",
                    url: "VisitorAjax/VisiterCommentList",
                    data: JsonData,
                    success: data => {
                        console.log(data);
                        $.each(data, (index, item) => {
                            var item = `<div class="card">
                                                        <div class="card-body">
                                                            <div class="card-title">${item.name}</div>
                                                            <div class="card-subtitle mb-3 text-muted">${item.created}</div>
                                                            <p class="card-text">${item.comment}</p>
                                                        </div>
                                                      </div>`;

                            $("#comments").append(item);
                        })
                    },
                    error: err => { console.log(err) },
                })
            }

            loadComment();

            $("#btnSave").click(() => {

                var name = $("#Name").val();
                var comment = $("#Comment").val();

                var JsonData = { "name": name, "comment" : comment }

                $.ajax({
                    type: "POST",
                    url: "VisitorAjax/SaveVisitorComment",
                    data: JsonData,
                    success: data => { console.log(data) },
                    error: err => { console.log(err) },
                })
            })
        })
    </script>
}

<h1>Index</h1>

<div class="row">
    <div class="col-5">
        <div class="mb-3">
            <label for="Name" class="form-label">Name</label>
            <input class="form-control" id="Name">
        </div>
        <div class="mb-3">
            <label for="Comment" class="form-label">Comment</label>
            <textarea class="form-control" placeholder="Leave add a comment" id="Comment" style="height: 100px"></textarea>
        </div>
        <button id="btnSave" type="button" class="btn btn-primary">Submit</button>
    </div>
    <div class="col-7" id="comments">
        
    </div>
</div>


